.maxWidth.maxWidth-home
	max-width 350px
	
.headerHome
	padding 20px 0 20px
	text-align center
	
.logohome
	font-family loaded
	color mainColor
	text-align left
	font-size 6em
	display inline-block
	text-decoration none
	opacity 0.5
	transition all 200ms
	&:hover
		opacity 1
		text-shadow 0 0 20px mainColor
		
.section-title
	font-family loaded
	padding 5px 0
	color mainColorDark
	
.section-title-right
	font-family loaded
	padding 5px 0
	color mainColorDark
	float right

/*///////////////////////////*/


.section-me
	border 1px solid mainColor
	box-shadow 0 0 100px rgba(mainColor, 0.3)
	margin 0 0 20px
	padding 20px
	text-align center


/*///////////////////////////*/

.roomList
	border 1px solid mainColorDark
	li + li
		border-top 1px solid mainColorDark
	a
		display block
		padding 10px
		text-decoration none
		&:hover
			box-shadow 0 0 50px rgba(mainColor, 0.3) inset
		
.room-name
	color mainColor
	
	
.room-playerNb
	font-family loaded
	color mainColor
	float right
		
.room-playerTotal
	color mainColorDark
	&::before
		content '/'

/*///////////////////////////*/
.section-addRomm
	padding 20px 0 0
	
.addRoom{
 	display flex;
	border-radius 2px;
	text-align left;
	}
		
	input
		padding 10px
		border-radius 2px
		border 1px solid #000
		outline none
		&:focus
			border-color mainColor
			box-shadow 0 0 10px mainColor
		+ input
			margin 0 0 0 5px
			
		
	input[type='submit']
		font-weight bold
		font-size 0.8em
		background-color mainColorDark
		color #000
		cursor pointer
		border-color mainColorDark
		transition all 200ms
		&:hover
			border-color mainColor
			background-color mainColor
			box-shadow 0 0 10px mainColor
			
	.addRoom-name
		flex: 1;