@import 'nib'
global-reset()

mainColor = #9bdcd8
mainColorDark = #4d6e6c

@import font

body
	background-color #000
	color #fff
	font-family sans-serif

.maxWidth
	width 90%
	max-width 600px
	margin 0 auto
	box-sizing border-box

.header
	padding 20px 0 10px

@import index
@import game
@import colorpicker